.header {
    display: flex;
    justify-content: space-around;
    background: lightblue;
    padding: 10px;

    .cart {
        .indicator{
            background: lightcoral;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }
    }
}